
</body>
    <footer>
    <img src="https://maui.hawaii.edu/wp-content/uploads/2021/02/official-seal.jpg" alt="logo" style="width: 610px; height: 394px;">
      <hr>
    Copyright &#169; UHMC 2020
    </footer>
</html>
